<p id="notice"><%= notice %></p>
<div class="user-box">
<%= image_tag @post.user.avatar.url(:thumb), class: 'profile' %>
<%= link_to @post.user.name, @post.user %>
</div>
  <%= @post.content %>
</p>
<%= image_tag @post.avatar.url if @post.avatar.exists? %>
<%= link_to pluralize(@post.comments.count, 'comment'), @post, class: 'comments' %>
